In [1]:
print("hello")
x=5

hello

In [2]:
x

5

In [3]:
a = "Moo"
b = "Mee"

In [4]:
a+b

'MooMee'

In [5]:
a = 1
b = 0.3
c = a
d = [2,3]

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'list'>

In [9]:
number1 = 15
money = 25000.50
name = "John"
c = 'A'
t = True
f = False
not_t = not(t)

print("number1 = ", number1)
print("money = ", money)
print("Your name is = ", name)
print("t = ", t)
print("not_t = ", not_t)
print(type(number1))
print(type(name))
print(type(c))
print(type(t))
if(type(number1) is int):
    print("yes, the number1 is int.")

number1 =  15
money =  25000.5
Your name is =  John
t =  True
not_t =  False
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
yes, the number1 is int.

In [32]:
a = int(input("number = "))
i = 1
for i in range(12):
    print(a , "x" , i , "=" , (a*i))

number =  5

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55

In [33]:
a_tuple = (1,2,3,5,4,5,3,7,8,5)
print(a_tuple)
print(a_tuple[0],a_tuple[1])
print("The number of element",len(a_tuple))
print("The number of time 3 appears in a_tuple is ", a_tuple.count(3))
print("The first occurence of value 5 is found at ",a_tuple.index(5))
print("Looping in the tuple")
for i in range(len(a_tuple)):
    print(a_tuple[i])

(1, 2, 3, 5, 4, 5, 3, 7, 8, 5)
1 2
The number of element 10
The number of time 3 appears in a_tuple is  2
The first occurence of value 5 is found at  3
Looping in the tuple
1
2
3
5
4
5
3
7
8
5

In [44]:
my_dict = {}
print(type(my_dict))
thisdict = {
    "brand": "Food",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)
#การเข้าถึงผ่านคีย์จะคืนค่ามาให้
print(thisdict["model"])
print(thisdict["year"])
#การเพิ่มคีย์ในพจณานุกรม
thisdict["Age"] = 8
print(thisdict)
#การปริ้นค่าทุกค่าใน dict
for e in thisdict:
    print(thisdict[e])
#การแสดงแบบ item ที่คู่(คีย์,ค่า)
print("=== show all items,(key,value)")
for key,value in thisdict.items():
    print(key,value)

<class 'dict'>
{'brand': 'Food', 'model': 'Mustang', 'year': 1964}
Mustang
1964
{'brand': 'Food', 'model': 'Mustang', 'year': 1964, 'Age': 8}
Food
Mustang
1964
8
=== show all items,(key,value)
brand Food
model Mustang
year 1964
Age 8

In [49]:
users = [ {"id":1,"name":"John","point":200},
          {"id":2,"name":"Jimmy","point":300},
          {"id":3,"name":"Peter","point":250},
          {"id":4,"name":"Jiant","point":150}
        ]
print(users)
users[0]["name"]
for u in users:
    print(u)
print("-----")
print(type(users))
#searching
print(next(item for item in users if item["name"] == "Jimmy"))
#การใช้ map ผ่าน Lambda, ค่าที่ส่งไปคือ usres แล้ว users จะไปแทน x แล้วคืนค่าเป็นค่าของ id
keys = map(lambda x: x['id'],users)
list(keys)
values = map(lambda x: x['name'],users)
list(values)
#ค้นหาคนที่ชื่อ Jimmy ผ่าน filter
jimmy_user = filter(lambda x: x['name'] == 'Jimmy',users)
list(jimmy_user)
#ค้นหาคนที่มีคะแนนตั้งแต่ 200 ขึ้นไป
high_point = filter(lambda x: x['point'] >= 200,users)
list(high_point)

[{'id': 1, 'name': 'John', 'point': 200}, {'id': 2, 'name': 'Jimmy', 'point': 300}, {'id': 3, 'name': 'Peter', 'point': 250}, {'id': 4, 'name': 'Jiant', 'point': 150}]
{'id': 1, 'name': 'John', 'point': 200}
{'id': 2, 'name': 'Jimmy', 'point': 300}
{'id': 3, 'name': 'Peter', 'point': 250}
{'id': 4, 'name': 'Jiant', 'point': 150}
-----
<class 'list'>
{'id': 2, 'name': 'Jimmy', 'point': 300}

[{'id': 1, 'name': 'John', 'point': 200},
 {'id': 2, 'name': 'Jimmy', 'point': 300},
 {'id': 3, 'name': 'Peter', 'point': 250}]